<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Anita_Assignment1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8A0F3ACE1E36B359001D2DC2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8A0F3AE71E36B362001D2DC2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8A0F3AF21E36B363001D2DC2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
